<div class="seat-picker">
  <div class="left-form">
    <ion-select
      [(ngModel)]="trainValue"
      (ngModelChange)="onInputChange()"
      label="Train"
      interface="popover"
      label-placement="floating"
      fill="outline"
    >
      <ion-select-option value="s3">S3</ion-select-option>
      <!-- <ion-select-option value="ir27">IR27</ion-select-option> -->
    </ion-select>
    <ion-input
      [(ngModel)]="totalWagonsValue"
      (ngModelChange)="onInputChange()"
      label="Total Wagons"
      labelPlacement="floating"
      fill="outline"
      type="number"
    />
    <ion-input
      [(ngModel)]="yourWagonValue"
      (ngModelChange)="onInputChange()"
      label="Your Wagon"
      labelPlacement="floating"
      fill="outline"
      type="number"
    />
    <ion-select
      [(ngModel)]="floorValue"
      (ngModelChange)="onInputChange()"
      label="Floor"
      interface="popover"
      label-placement="floating"
      fill="outline"
    >
      <ion-select-option value="0">Ground floor</ion-select-option>
      <ion-select-option value="1">First floor</ion-select-option>
    </ion-select>
    <ion-input
      [(ngModel)]="fromValue"
      (ngModelChange)="onInputChange()"
      label="From"
      labelPlacement="floating"
      fill="outline"
    />
    <ion-input
      [(ngModel)]="toValue"
      (ngModelChange)="onInputChange()"
      label="To"
      labelPlacement="floating"
      fill="outline"
    />
    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          [(ngModel)]="dateTimeValue"
          (ngModelChange)="onInputChange()"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-button>
      <ion-icon icon="camera" />
    </ion-button>
  </div>

  <div class="right-form">
    @if (trainValue === 's3') {
    <app-s3 (selectedSeat)="setSeatValue($event)" />
    }
  </div>
</div>
