<div class="wrapper">
  <h4 align="center">S3</h4>
  <div class="train-outline">
    <ion-radio-group>
      <div class="select">
        <div class="four">
          <ion-radio labelPlacement="stacked" value="1" />
        </div>
        <div class="four">
          <ion-radio labelPlacement="stacked" value="2" />
        </div>
      </div>
      <div class="select">
        <div class="four">
          <ion-radio labelPlacement="stacked" value="7" />
        </div>
        <div class="four">
          <ion-radio labelPlacement="stacked" value="8" />
        </div>
      </div>
    </ion-radio-group>
  </div>
</div>
