<div>
  <div class="train-outline">
    <div class="group">
      <div class="select">
        <div id="1" class="four"></div>
        <div id="2" class="four"></div>
        <div id="3" class="four" style="margin-top: 40px"></div>
        <div id="4" class="four"></div>
        <div id="5" class="four" style="margin-top: 40px"></div>
        <div id="6" class="four"></div>
      </div>
      <div class="select">
        <div id="7" class="four"></div>
        <div id="8" class="four"></div>
        <div id="9" class="four" style="margin-top: 40px"></div>
        <div id="10" class="four"></div>
        <div id="11" class="four" style="margin-top: 40px"></div>
        <div id="12" class="four"></div>
      </div>
    </div>
  </div>
</div>
