<app-header />

<ion-content align="center" [fullscreen]="true">
  <ion-title>
    <h1>Login</h1>
  </ion-title>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      ></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Login</ion-button>
  </form>
  <ion-button expand="block" fill="clear" (click)="routeTo('/register')"
    >Register</ion-button
  >
</ion-content>
<ion-alert
  [isOpen]="isAlertOpen"
  [header]="alertHeader"
  [message]="alertMessage"
  [buttons]="alertButtons"
  (didDismiss)="closeAlert()"
></ion-alert>
