<app-header />

<ion-content align="center" [fullscreen]="true">
  <ion-title>
    <h1>Register</h1>
  </ion-title>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      ></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Register</ion-button>
  </form>
  <ion-button expand="block" fill="clear" (click)="routeTo('/login')"
    >Back to Login</ion-button
  >
</ion-content>
