<ion-item-sliding>
  <ion-item button="true" (click)="routeToShowItem()">
    <!-- Later something like /seats/id -->
    <div>
      <ion-label
        >Seat from <strong>{{ from }}</strong> to
        <strong>{{ to }}</strong></ion-label
      >
      <ion-note>At: {{ dateTime }}</ion-note>
    </div>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="secondary" (click)="routeToEditItem()">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="primary" (click)="deleteItem()">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
