<app-header />
<ion-content [fullscreen]="true">
  <ion-title><h2 align="center">Pick your Seat</h2></ion-title>
  <form class="seat-picker" (ngSubmit)="createSeat()">
    <app-seat-picker (seat)="setSeat($event)" />
    <ion-button expand="block" color="success" type="submit"
      >Create Seat</ion-button
    >
  </form>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="All fields are required!"
    message="Fill in all fields to continue."
    [buttons]="alertButtons"
    (didDismiss)="closeAlert()"
  ></ion-alert>
</ion-content>
